html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  background-image: url(./img/folha.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn-primary {
  --bs-btn-bg: #495057;
}

.btn-warning {
  --bs-btn-bg: #cfab38;
}

.btn-danger {
  --bs-btn-bg: #933030;
}